# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment variables
.env
.env.*
*.env

# Virtual environment folders
venv/
env/
.venv/
.envrc

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
log.txt

# Token / Key / Cache
*.token
*.cache
*.bak

# Model checkpoints / ML output
*.pth
*.pt
*.ckpt
*.h5

# pyenv version file
.python-version

# Pip dependency logs
pip-log.txt

# Coverage reports
htmlcov/
coverage.xml
.cache

# Distribution / build artifacts
build/
dist/
*.egg-info/

# LangChain / Vector DB
faiss_index/
Courses.json
